@model List<DeveloperPortfolio.Models.DTO.ProjectDTO>

<div class="container bg-light ">
    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

        @foreach (var project in Model)
        {
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="card h-100 shadow-sm">
                    <img src="@project.ProjectImg" class="card-img-top" />

                    <div class="card-body container shadow p-5 rounded" style="background-color: #fef9f5;">
                        <h5 class="card-title btn btn-gold-fill mb-3 rounded-pill px-4 py-2 fw-bold">@project.Name</h5>
                        <p class="card-text ">@project.Description</p>

                        <div class="mb-2 btn btn-custom mb-3 rounded-pill px-4 py-2 fw-bold">
                            <strong>Technologies:</strong>
                            <div class="d-flex flex-wrap mt-1">
                                @foreach (var tech in project.Technologies)
                                {
                                    <img src="@tech.Url" title="@tech.Technology"
                                         alt="@tech.Technology"
                                         class="tech-icon"
                                         style="height: 45px; margin-right: 5px;" />




                                }
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        @if (!string.IsNullOrEmpty(project.GitHubUrl))
                        {
                            <a href="@project.GitHubUrl" target="_blank"
                               class="btn btn-outline-teal mb-3 rounded-pill px-4 py-2 fw-bold">
                                <i class="bi bi-github"></i> GitHub
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(project.LiveDemoUrl))
                        {
                            <a href="@project.LiveDemoUrl" target="_blank"
                               class="btn btn-outline-teal mb-3 rounded-pill px-4 py-2 fw-bold">
                                <i class="bi bi-box-arrow-up-right"></i> Live Demo
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>